<br>
<div>
  <label>Empower a dragon/dragons with this ability:</label>
  <%= form_with model: @ability do |f| %>
  <%= f.collection_check_boxes :dragon_ids, Dragon.all, :id, :name %>
  <%= f.submit  %>
  <% end %>
</div>
<br>
